@import "../../../shared/variables/variable";

.table-wrapper {
    border: 1px solid black;
    box-shadow: 5px 5px 5px $lightslategray;
    background-color: whitesmoke;
    .header-wrapper {
        display: flex;
        align-items: center;
        border-bottom: solid 1px $lightslategray;
        height: 36px;
        .selected-count {
            display: inline;
            margin-left: 12px;
        }
        .download-option-wrapper {
            margin-left: 48px;
            cursor: pointer;
        }
    }

    table {
        border-collapse:collapse;
        width: 100%;
            thead {
                th {
                    text-align: left;
                }
            }
            tr {
                border-bottom: solid 1px $lightslategray;
                height: 36px;
            }
            tbody tr {
                &:hover {
                    background-color: $lightslategray !important;
                  }
                &.selected {
                    background-color: $lightgray;
                }
            }
            td {
                &:nth-child(4) {
                    word-break: break-word;
                }
            }
    }
}