<div class="table-wrapper">
    <div class="header-wrapper">
        <input type="checkbox" [checked]="itemsSelected" (change)="selectAll($event)" [indeterminate]="isInderminateState"/>
        <div class="selected-count">
            <span *ngIf="itemsSelected">Selected {{itemsSelected}}</span>
            <span *ngIf="!itemsSelected">None Selected</span>
        </div>
        <span class="download-option-wrapper" (click)="download()">
            <i class="fa fa-download"></i> Download Selected
        </span>
    </div>
    <table class="table pd-b-5">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Device</th>
                <th>Path</th>
                <th></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;let ind = index" [class.selected]="item.state">
                <td>
                    <input [disabled]="item.status !== 'available'" type="checkbox" value="{{ind}}" [(ngModel)]="item.state" />
                </td>
                <td>{{item.name}}</td>
                <td>{{item.device}}</td>
                <td>{{item.path}}</td>
                <td><i *ngIf="item.status === 'available'" class="fa fa-circle green"></i></td>
                <td>{{item.status}}</td>
            </tr>
    </table>
</div>