<div class="table-wrapper">
    <div>
        <input type="checkbox" [checked]="itemsSelected" (change)="selectAll($event)" />
        <span *ngIf="itemsSelected">Selected {{itemsSelected}}</span>
        <span *ngIf="!itemsSelected">None Selected</span>
        <span (click)="download()">
            <i class="fa fa-download"></i>Download Selected
        </span>
    </div>
    <table class="table pd-b-5">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Device</th>
                <th>Path</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;let ind = index">
                <td>
                    <input [disabled]="item.status !== 'available'" type="checkbox" value="{{ind}}" [(ngModel)]="item.state" />
                </td>
                <td>{{item.name}}</td>
                <td>{{item.device}}</td>
                <td>{{item.path}}</td>
                <td><i *ngIf="item.status === 'available'" class="fa fa-circle green"></i>{{item.status}}</td>
            </tr>
    </table>
</div>